.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25); // Fondo semitransparente
  }

  article{
    width: 100%;
    max-width: 460px;
    z-index: 1;
    background-color: white;
    color: black;
    padding: 1rem;
    
    input{
        width: 100%;
        padding: 0.6rem;
        margin-bottom: 1rem;
    }
  }
}
