.container {
  list-style: none;
  text-align: left;
  color: rgb(241, 236, 236);
  padding: 0.8rem 0.6rem;
  margin: 1rem 0;
  padding: 0;
  /* li {
    margin: 0;
    margin-bottom: 0.6rem;
    padding: 0.8rem 0.6rem;
    font-weight: 500;
    background-color: rgb(27, 27, 27);
  } */
}
